<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>可视化装修</title>
    <link rel=stylesheet href="//at.alicdn.com/t/font_om8zpb0ccjnel8fr.css" media="screen" title="no title">
    <link rel=stylesheet href="//at.alicdn.com/t/font_hbz3xcq1mqk9be29.css" media="screen" title="no title">
    <link href="__ROOT__/statics/css/app.85b05342369819f0776cd18df99e2a12.css" rel="stylesheet">
    <script>window.ROOT_URL = '__ROOT__/';</script>
  </head>
  <body>
    <div id="app"></div>
    <script type=text/javascript src=__ROOT__/statics/js/manifest.f7ca43345ff58740f06a.js></script>
    <script type=text/javascript src=__ROOT__/statics/js/vendor.866dce92ba3571e8459d.js></script>
    <script type=text/javascript src=__ROOT__/statics/js/app.c9a67e181325012d726f.js></script>
  </body>
</html>
