{include file="page_header"}
{include file="title"}
	<body>
		<!--<div id="loading"><img src="img/loading.gif" /></div>-->
		<div class="con inedx-guode b-color-f padding-all">
			{$row.article_centent}
			<p>
    <span style="font-size: 20px;"><br/></span>
</p>
			<p>
    <span style="font-size: 20px;"></span>
</p>
			<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">在接受本协议之前，请您仔细阅读本协议的全部内容。</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">（河源市行聊智能科技有限公司为行聊商城平台运营方，亦是</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊商城</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">平台、行聊商户平台的版权所有者，本协议中简称</span>“行聊”）保留本协议条款的最终解释权，如本协议没有生效，则您不能进行入驻行聊商城平台的一系列操作。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第一条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">立约</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">1.1、您与</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">签署《行聊商城平台入驻协议》（以下简称</span>“本协议”），您在入驻行聊商城平台（以下简称“行聊商城”）后，行聊将为您开通供货商功能，您可使用该功能新开店铺。为了保障行聊商城各方及消费者的合法权益，您入驻行聊商城的权利义务及责任约定如下。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第二条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">协议生效</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">2.1、您通过网络页面点击确认或签订本协议，即表示您已完全知晓并认可本协议约定的全部内容（包括同意遵循《</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊商城</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">管理规则》中约定的内容），同时表示您与</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊商城</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">平台签署本协议。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">2.2、本协议自您通过审核成功进驻之时起生效。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">2.3、您同意，行聊有权随时对本协议的内容进行单方面的变更，并以在行聊</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">公众号</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后未提交与行聊的终止合作申请的，表示您已完全知晓并接受变更后的协议内容，也将遵循变更后的协议内容在行聊商城继续经营；若您不同意变更后的协议内容的，您应该自公告之日起</span>10日内提交与行聊商城的终止合作申请。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第三条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;<span style="font-family:宋体">入驻</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊商城的条件</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">3.1、您必须同时满足如下条件，方能入驻行聊商城：</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">3.1.1、</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">个人商家通过个人认证，企业商家通过企业身份认证</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">3.1.2、</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">完整的基础信息（含联系人</span>QQ和手机号，管理员不少于两人)；</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">3.1.</span><span style=";font-family:宋体;font-size:16px">3</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、签署本协议；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">（消费保障计划保证金和供货商入驻保证金，以下统称为</span>“保证金”）</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第四条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;<span style="font-family:宋体">商家赔付</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.1、</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">纠纷</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">赔付</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.1.1、如因您违反（1）法律法规、本协议（2）行聊商城的任何规则（3）对分销商、消费者的承诺，导致分销商、消费者权益受损，行聊有权使用店铺余额对分销商、消费者进行赔付，上述赔付的最终解释权归行聊所有。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.2、如因您违反法律法规、本协议、或行聊商城任何规则，给行聊造成任何损失（包括但不限于交易赔付、诉讼赔偿、诉讼费用、律师费用等），行聊有权直接从店铺余额中扣除相当于行聊商城损失的金额；如根据行聊商城的相关规则规定，您应向行聊商城支付违约金的，行聊有权直接从</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">个人行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">账户中扣除相当于违约金的金额。</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">账户不足以支付的，行聊可继续向您追偿。在损失金额不明确之前，行聊有权无限期冻结该</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">账户，直至损失金额明确后予以结算。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">2</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、行聊如使用店铺余额对分销商、消费者进行赔付的，应以书面方式（包括但不限于电子邮件、传真等）通知您。在向您出具的书面通知中，应说明赔付原因及赔付金额。赔付完成后，应向您出具必要的赔付资金往来凭证。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">3</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、如店铺余额不足赔付时，您应自行支付额外的赔付金额，如因故导致行聊向分销商或消费者支付了超出店铺余额数额的款项，或行聊因上述第</span>4.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.2项列明的原因遭受的损失高于可支配的保证金余额，则行聊有权：</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">3</span><span style=";font-family:宋体;font-size:16px">.1、要求您在收到赔付损失通知后的10个工作日内偿付行聊的所有损失</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">；</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">3</span><span style=";font-family:宋体;font-size:16px">.2、如行聊的损失通过上述方式仍无法弥补，则行聊有权单方面终止本协议。同时行聊保留通过法律途径向您追偿的权利。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">4.</span><span style=";font-family:宋体;font-size:16px">4</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、您对分销商、消费者或其他第三方平台的赔付责任不以店铺余额的数额为限；除对您</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">商城店铺余额的处置外，行聊不对分销商、消费者或者其他任何第三方承担任何赔付义务。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">五</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">行聊商城保障体系</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">5</span><span style=";font-family:宋体;font-size:16px">.1、供货商入驻即同意提供行聊商城保障服务，即默认实行掌柜推荐商品买家付款完成后48小时内发货、普通商品买家付款完成后72小时内发货以及7天无理由退换货。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">5</span><span style=";font-family:宋体;font-size:16px">.2、预售商品须在商品发布的同时标明预售时间、发货时间等详细信息，在预定时间超过之后，发生推迟发货、不发货、不退款的情况下，分销商应优先选择和供货商协商解决，协商不成的，行聊有权介入解决。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">5</span><span style=";font-family:宋体;font-size:16px">.3、以上维权不适用于买卖双方沟通过发货时间和售后服务的情况。如买卖双方在交易中就发货时间和售后服务发生纠纷，其中任何一方可以以聊天记录证明。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">5</span><span style=";font-family:宋体;font-size:16px">.4、维权问题双方应优先选择协商解决，协商不成的，可提交行聊维权部门处理。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">六</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">终止服务</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.1</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">您在行聊商城出现以下情形，给行聊造成恶劣影响的，行聊有权单方面终止本服务将您清退出行聊商城：</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.1、行聊多次收到</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">客户</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">或其他第三方投诉的；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.2、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益；</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.3</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">违反依法定或约定之保密义务；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.4</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、</span></span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">从事不法交易行为，如洗钱、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、及其他行聊认为不得使用本服务进行交易的物品等。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.5、提供赌博资讯或以任何方式引诱他人参与赌博。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.6、非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.7、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.8、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.10、含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.11、您通过行聊或行聊获取他人信息，骚扰行聊商户或合作伙伴，或骗取行聊商户或合作伙伴的金钱的；</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">6</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">1</span><span style=";font-family:宋体;font-size:16px">.12、其他行聊有正当理由认为不适当之行为。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">第七条</span></span><span style=";font-family:宋体;font-size:16px">&nbsp;</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">其他约定</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">7</span><span style=";font-family:宋体;font-size:16px">.1、本协议自您入驻行聊商城之日起生效，于您退出行聊商城之日起终止。本协议生效之后，双方应严格按照要求履行权利和义务，对本协议有不尽之处，双方可协商解决。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">7</span><span style=";font-family:宋体;font-size:16px">.2、本协议经双方同意可协商解除，即本协议不再发生法律效力，所有涉及三方（供货商、分销商和消费者）维权纠纷问题，行聊不再提供解释、保障义务，供货商须自行解决。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">7</span><span style=";font-family:宋体;font-size:16px">.</span><span style=";font-family:宋体;font-size:16px">3</span><span style=";font-family:宋体;font-size:16px"><span style="font-family:宋体">、本协议的最终解释权及修订权归行聊所有。</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:16px">&nbsp;</span>
</p>
<p>
    <span style="font-size: 20px;"><br/></span><br/>
</p>
		</div>
	</body>

</html>
