{include file="page_header"}
{include file="title"}
		<div class="con">
			<section class="m-top10 my-nav-box b-color-f user-function-list">
				<a href="{url('user/index/messagelist')}">
					<div class="dis-box padding-all my-bottom">
						<h3 class="box-flex text-all-span my-u-title-size"><i class="iconfont icon-kefu f-08 color-red"></i>客户服务</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</a>
				<a href="{url('user/index/userhelp')}">
					<div class="dis-box padding-all">
						<h3 class="box-flex text-all-span my-u-title-size"><i class="iconfont icon-3shouce f-08 color-red"></i>帮助手册</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</a>
			</section>
		<!--快捷导航-->
	    {include file="float_nav"} 
	    {include file="float_nav_footer"}
		</div>
	</body>
</html>