<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>{$page_title}</title>
    <link rel=stylesheet href="//at.alicdn.com/t/font_om8zpb0ccjnel8fr.css" media="screen" title="no title">
    <link rel=stylesheet href="//at.alicdn.com/t/font_hbz3xcq1mqk9be29.css" media="screen" title="no title">
    <link href=__ROOT__/statics/css/app.cf5835bfdd81a516b956b31650adb1ee.css rel=stylesheet>
    <script>window.ROOT_URL = '__ROOT__/';</script>
</head>
<body>
<div id="app"></div>
<script type=text/javascript src=__ROOT__/statics/js/manifest.43f8edcfdfbbef265aa0.js></script>
<script type=text/javascript src=__ROOT__/statics/js/vendor.e02207ee40aa6a89e40b.js></script>
<script type=text/javascript src=__ROOT__/statics/js/app.0b09ca89496ea7be877f.js></script>
</body>
</html>
